# Variables d'environnement
.env
.env.local
.env.production

# Logs
logs
*.log
npm-debug.log*

# Build
dist/
build/

# Docker
.dockerignore

#Autres 
node_modules/
*.db
*.sqlite
.DS_Store
Thumbs.db
.vscode/
.idea/